body {
    font-family: Verdana, sans-serif;
    background-color: #ffffff;
    color: #000000;
}
p {
    padding: 20px;
    border: 5px solid rebeccapurple;
    margin: 50px;
}
#main-header {
    background-color: #000000;
    color: #ffffff;
    padding: 1em;
}
.button {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}