body {
    font-family: Verdana, sans-serif;
    background-color: #f6f6f6;
    color: rebeccapurple;
}
p {
    padding: 20px;
    border: 5px solid rebeccapurple;
    margin: 50px;
}
#main-header {
    background-color: rebeccapurple;
    color: white;
    padding: 1em;
}