body {
    font-family: Verdana, sans-serif;
    background-color: #ffffff;
    color: #000000;
}
p {
    padding: 20px;
    border: 5px solid rebeccapurple;
    margin: 50px;
}
#main-header {
    background-color: #000000;
    color: #ffffff;
    padding: 1em;
}