<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Default Display</title>
    <link th:href="@{/main.css}" rel="stylesheet">

</head>
<body>
<h1>Structures</h1>
<table>
    <tr th:if="${structures.isEmpty()}">Repo is empty</tr>
    <tr th:if="${!structures.isEmpty()}">
        <th>ID</th> <th>text</th>
    </tr>
    <tr th:each="structure: ${structures}">

        <td th:text="${structure.id}"></td>
        <td th:text="${structure.text}"></td>
        <td><a th:href="@{/display/edit/{structureId}(structureId=${structure.id})}" th:class="button">Edit</a></td>
        <td><a th:href="@{/display/remove/{structureId}(structureId=${structure.id})}" th:class="button">Delete</a></td>
    </tr>
</table>

<a th:href="@{/display/register}" th:class="button">Register new structure</a>
</body>
</html>