<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Remove structure</title>
    <link th:href="@{/main.css}" rel="stylesheet">

</head>
<body>

Are you sure you wish to delete
<span th:text="${structureId}"></span>


<form action="#" th:action="@{/display/remove/{structureId}(structureId=${structure.id})}"
      th:object="${structure}" th:method="delete">
    <button type="submit" style="float:left">Yes</button>
</form>
<form action="#" th:action="@{/display}">
    <button type="submit" style="float:left">   No</button>
</form>

</body>
</html>