<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
</head>
<body>

<form action="#" th:action="@{/display/register}" th:object="${structure}" method="post">
    <label>text</label>
    <input type="text" th:field="*{text}">
    <br>
    <button type="submit" style="float:left">Register</button>
</form>
<form action="#" th:action="@{/display}">
    <label>
        <button type="submit" style="float:left">   Cancel</button>
    </label>
</form>
</body>
</html>